<div class="part-five">
  <div class="text-container">
    Behind my eyelids, swirling and teeming clouds arc and dance. I linger here in the liminal space, what used to be the middle of the night's sleep, snagged.
    <br/><br/>
    I run my tongue along The Bit in the roof of my mouth. It's tender. Sore. When I've cut it, I can't stop poking at it with my tongue, even though I know I shouldn't.
    <br/><br/>
    Running my tongue further back, I notice that The Bit sits on a seam, like my body is stitched together at this point.
    <br/><br/>
    This seam appears behind my eyelids, crackling, like the most primitive part of me, the point at which the cells started to divide in utero.
    <div class="image-container mouth-image">
      <%= image_tag "bit/mouth.webp", class: "image" %>
    </div>
    I'm drained, exhausted. I should sleep. Instead I pull on the seam and it starts to unravel, pulling me backwards deeper and deeper. Many of the key parts of my body sit directly on, or to either side of this seam.
    <br/><br/>
    Now I'm in an Italian restaurant a few weeks earlier. I have found out that The Bit is actually a relatively common genetic quirk named Torus Palatinus.
    <br/><br/>
    I am sat round a table, celebrating something with my extended family. As the starters arrive, I ask if anyone else suffers with crusty breads.
    <br/><br/>
    Looking around the table at over a dozen faces that rhyme, I watch as four generations of people come to the same realisation: we share our suffering at the hands of sharp foods. We are at once liberated and burdened together.
    <br/><br/>
    We perform the sacred ritual, running our tongue over the roof of our mouth. Many of them already know The Bit.
    <br/><br/>
    I show them that The Bit continues on in my son, at this point only a few days old.
    <br/><br/>
    A lucky few have no idea what we are talking about.
    <br/><br/>
    My wife, for instance, has no Bit. The roof of her mouth is smooth. Just one of the things I love about her.
    <br/><br/>
    We jealously call her "smoothroof" and carefully bite into our pizza.
    <div class="image-container">
      <%= image_tag "bit/seam.webp", class: "image" %>
    </div>
  </div>
</div>
