<div class="part-seven">
  He cries out and I wake up with a ferocity unimaginable three weeks ago.
  <br/><br/>
  But it's just a single stir. A little squeak.
  <br/><br/>
  I'm struck with the feeling that I've forgotten something.
  <br/><br/>
  It's 5am. The sun will peek out from the curtain-edges soon.
  <br/><br/>
  I silently say the first prayer of my life: May the Lord have mercy on my son in his encounters with crusty breads. May he pick loaves with soft crusts, or at least chew carefully, or they will cut his mouth.
  <br/><br/>
  They may not mean to, but they do.
</div>
