<div class="part-one">
  <div class="text-container">
    My son cries out and I wake up with a ferocity unimaginable three weeks ago.
    <br/><br/>
    It's 10:30pm. I've been asleep for just over an hour.
    <br/><br/>
    Swaying slowly now, eyes drooping, his cries wash over me. His unhappiness is my unhappiness. My only reply is a long shush, a constant white noise failing to soothe either of us into sleep.
    <br/><br/>
    Staring down at his mouth, his little maw, I see it... There, behind where his front teeth will be, right in the center of the roof of his mouth.
    <br/><br/>
    He, too, has "The Bit."
    <br/><br/>
    Ever since I can remember, I've cut, sliced and burnt a specific part of the roof of my mouth on innocuous things - crusty breads, pizzas, crisps. I call this "The Bit".
    <br/><br/>
    How best to describe The Bit? Run your tongue over the roof of your mouth behind your front teeth. Slap bang in the middle, where the two halves of your body meet, there might be a small bump.
    <br/><br/>
    A fleshy stalactite. Completely utterly pointless. No evolutionary purpose other than to punish you for eating anything hard.
    <br/><br/>
    This is The Bit. I have it, and now my son has it too.
    <br/><br/>
    Stick with nipples and teats, I think as I soothe him with a bottle, they won't cut or burn The Bit. Enjoy this. As soon you encounter solid food you're in for it.
    <%= render partial: 'bit/clock' %>
  </div>
 </div>
