<div class="part-four">
  <div class="text-container">
    2:45am. He is crying again. I am still awake.
    <br/><br/>
    I apologise to him. There's something in our genes that means we wake up at roughly this time, most nights, for our whole life. Not quite insomnia, just a short liminal window of semi-consciousness splitting each night's sleep in two.
    <br/><br/>
    During this window, he'll occasionally be struck with the echo of half-inspiration.
    <br/><br/>
    He'll learn that Keith Richards wrote the guitar riff to Satisfaction from inside this state where conscious meets unconscious. Thoughts and ideas here will seem half-formed and incredibly important. But in time he'll learn that they disappear if he gets up, and he won't remember them in the same way come the light of the morning.
    <br/><br/>
    Keith Richards recorded the guitar part to himself before he went back to sleep, so eventually, my son might try writing down what makes it through the boundary as notes to himself to try and capture them.
    <br/><br/>
    But they'll end up sounding like comedy pitches from boring ghosts:
    <div class="notes-app">
      <div class="notes-headline"></div>
      <div class="notes-content">
        <span class="notes-item">Angry Birds but the birds are ancient Atlantis settlers finding new homes</span>
        <span class="notes-item">Neighbourhood whatsapp group admin but funny</span>
        <span class="notes-item">Squashing my beefs using ChatGPT</span>
        <span class="notes-item">Buy boxes from China and make them Marie Kondo boxes</span>
        <span class="notes-item">He has my toes</span>
      </div>
    </div>
    Maybe one day he'll understand that the song is actually called (I can't get no) Satisfaction. Maybe one day he'll be OK with that.
    <br/><br/>
    I put him back to sleep. Close my eyes.
  </div>
</div>
