<div class="part-container part-five">
  <div class="text-container">
    <p>Swirling and teeming clouds arc behind my eyelids. Instead of sleeping, I'm lingering here in the liminal space, snagged on what used to be the middle of the night's sleep.</p>

    <p>I run my tongue along The Bit in the roof of my mouth. It's tender. Sore. Exploring further back, I notice that The Bit sits on a seam, like my body is stitched together at this point. This seam appears behind my eyelids, crackling. A primitive part of me, the place at which the cells started to divide in utero. </p>

    <p>I think about how I should really sleep. Instead, I pull on the threads and they start to unravel, transporting me backwards deeper and deeper. Many of the key parts of my body sit directly on, or to either side of this seam. </p>

    <p>Now I'm in an Italian restaurant a few weeks earlier sat round a table, celebrating with my extended family. I have found out that The Bit is actually a relatively common genetic quirk named Torus Palatinus.</p>

    <p>As the starters arrive, I ask if anyone else suffers with crusty breads.</p>

    <p>Looking around the table at a dozen faces that rhyme, I watch four generations come to the same realisation: we share our suffering at the hands of sharp foods. We are at once liberated and burdened together. We perform the sacred ritual, running our tongue over the roof of our mouth. I show them that The Bit continues on in my son, who is at this point only a few days old.</p>

    <p>A lucky few have no idea what we are talking about. My wife, for instance, has no Bit. The roof of her mouth is smooth. Just one of the things I love about her. We jealously call her "smoothroof" and carefully bite into our pizza.</p>

    <div class="image-container">
      <%= image_tag "bit/seam.webp", class: "image" %>
    </div>
  </div>
</div>
