<div class="part-two">
  <div class="text-container">
    <p>He's crying again.</p>

    <p>It's been 106 minutes since I last looked at the clock. </p>

    <p>He's not hungry and wriggles free when I try and soothe him. Must be the nappy.</p>

    <p>I look down at his toes and there's another uneasy recognition. They look like my own. The two middle ones stick up above the rest like a tuning fork. Unmistakeable.</p>

    <p>He has my toes. </p>

    <p>Unfortunately, both of my big toes accumulate a bunion-esque welt of dead skin to the side. This grey lump eventually grows so large it has to be regularly chopped, sanded and destroyed. But it always comes back.</p>

    <p>Left long enough, the skin is so tough and large that I can lop it off with nail scissors and be left with a what I jokingly call a "Tuile". It looks like some giant rank grain of rice. It disgusts my wife. </p>

    <p>My mum has to do this too. I imagine her fruitlessly, joylessly chopping and sanding her big toes every couple of months. My son has my toes, so I imagine him doing the same when he is fully grown. Decades and decades of harvest. Another useless gift to him. I'm sorry you have my toes. Your mothers' are perfectly fine.</p>

    <p>I notice the callous on the side of my own left big toe. That needs to go. As I stash his effluent in a worryingly thin plastic bag I mentally schedule in another Tuile removal tomorrow. The skin on his feet is still supple, perfect, flawless. </p>

    <p>For now. </p>

    <p>But the boy has my toes. </p>
    <%= render partial: 'bit/clock' %>
  </div>
</div>
