<div class="part-seven">
  My son cries out and I wake up with a ferocity unimaginable three weeks ago.
  <br/><br/>
  He is now silent. Is he awake?
  <br/><br/>
  Lying there frozen, waiting for him to make another noise, I'm struck with the feeling that I've forgotten something.
  <br/><br/>
  I grab my phone, the Notes app is open. There is, bafflingly, a prayer written down. The words make very little sense and I've never said a prayer in my life. I decide to mutter it, just in case.
  <br/><br/>
  May the Lord have mercy on my son in his encounters with crusty breads. May he chew carefully, or they will cut his mouth.
  <br/><br/>
  They may not mean to, but they do
  <br/><br/>
  I have no fucking idea what this means. I feel like it made sense at 3:48am when I wrote it.
  <br/><br/>
  It is now 5am. The pipes in the radiator have started singing.
  <br/><br/>
  He will be awake again soon.
</div>
