<div class="part-six">
  Zipping deeper and deeper along the ever-unravelling seam, I pass every facet of me that was handed down. The Bit originated somewhere in here. A thousand mouths cut and torn across millennia.
  <br/><br/>
  This seam is stitched with every aspect that was thrust upon me. An unbroken thread of all life ever ending with me.
  <br/><br/>
  I should really go to sleep.
  <br/><br/>
  But The Bit is just the start. There will be more vestigial parts of my son, dead skin on more than just his toes, that I have unwittingly given him.
  <br/><br/>
  Did any of them leave a clue, an instruction on how to create life without bringing these parts of yourself into the thing you love the most?
  <br/><br/>
  I pull on the seam, unstitching it all the way and come to rest at the rough form of a human face. A face with big thick glasses, in black and white. No discernible features, like a courtroom sketch or composite. It reminds me of a photo I saw of my great great grandfather. Or was it my great grandmother?
  <br/><br/>
  I should sleep. I'm getting delirious because now the face looks like Philip Larkin.
  <br/><br/>
  He wrote about man handing misery to man. One line rings out, <em>"They fuck you up, your mum and dad. They don't mean to, but they do."</em>
  <br/><br/>
  Larkin never had any children. His thread ended with him. Frayed.
  <br/><br/>
  I think about my son, how his own seam is threaded with every stitch of my own and yet is completely different. I worry about him, about his mouth and his toes and his own journeys through the liminal space.
  <br/><br/>
  I worry that the act of me worrying dooms him to worry.
  <br/><br/>
  I suddenly understand.
  <br/><br/>
  I should write this down.
</div>
