<div class="part-six">
  Zipping deeper and deeper now along the ever-unravelling seam, I pass every facet of me that was handed down. The Bit originated somewhere in here. A thousand mouths cut and torn across millennia.
  <br/><br/>
  This seam is stitched with every aspect that was thrust upon me, some welcome, some not. An unbroken thread of all life ever, ending with me.
  <br/><br/>
  I should really go to sleep.
  <br/><br/>
  Except it doesn't end with me. The Bit is just the start. There will be other vestigial parts of my son, dead skin on more than just his toes, that I have unwittingly given him, just as They unwittingly gave these things to me.
  <br/><br/>
  Did any of them leave a clue, an instruction on how to create life without bringing these parts of yourself into the thing you love the most? Maybe I should have asked that around the table.
  <br/><br/>
  Searching for answers, I keep pulling on the seam, unstitching it all the way.
  <br/><br/>
  I come to rest at the rough form of a human face. A face with big thick glasses, in black and white. No discernible features, like a courtroom sketch or composite. It reminds me of a photo I saw of my great great grandfather. Or was it my great grandmother?
  <br/><br/>
  I'm getting delirious because now the face looks like Philip Larkin. Why?
  <br/><br/>
  Didn't he write about man handing misery to man?
  <br/><br/>
  I try and remember. One line rings out:
  <br/><br/>
  <em>"They fuck you up, your mum and dad. They don't mean to, but they do."</em>
  <br/><br/>
  His solution was to never have kids. True to his word, his own seam ended with him, tied off forever.
  <br/><br/>
  Larkin offers no answers to my problems. To be fair to him, his father was a Nazi.
  <br/><br/>
  The disembodied composite face is still behind my eyes, taunting me with the promise of an answer.
  <br/><br/>
  I think about my son, how his own seam is threaded with every stitch of my own. But his is also completely different to mine, interwoven with my wife's. She has a smooth roof, has no Bit. Still, I worry about him, about his mouth and his toes and his own journeys through the liminal space and everything else I'll have no choice but to give him.
  <br/><br/>
  I worry that the act of me worrying dooms him to worry.
  <br/><br/>
  The face coalesces into an answer. I suddenly understand.
  <br/><br/>
  I should write this down before I fall asleep.
</div>
