<div class="part-three">
  It's 1:45am. He's finally asleep again and I've finished googling "how fast should baby breathe".
  <br/><br/>
  I fed him with a bottle straight from the fridge without warming it up. I just forgot. His little digestive system, only 13 days old, experienced its first ice-cold liquid.
  <br/><br/>
  Feelings of guilt wash over me, terrified that I have given him shock, or hypothermia. Mostly I feel exhausted.
  <br/><br/>
  Putting my phone down, I count his breathing, checking it is within the 40-to-60 breaths per minute range. This is a terrifyingly fast normal range.
  <br/><br/>
  I open my eyes. It's 2:03am.
  <%= render partial: 'bit/clock' %>
</div>
