<div class="part-two">
  He's crying again.
  <br/><br/>
  It's been 106 minutes since I last looked at the clock. I'm awake.
  <br/><br/>
  He's not hungry. He wriggles free when I try and soothe him. Must be the nappy.
  <br/><br/>
  I look down at his toes and suddenly recognise my own. The two middle toes stick up above the rest like a tuning fork. Unmistakeable.
  <br/><br/>
  He has my toes.
  <br/><br/>
  It's not the tuning forks I worry about. Both of my big toes accumulate a bunion-esque welt of dead skin to the side. This grey skin eventually grows so large it has to be regularly chopped, sanded and destroyed. But it always comes back.
  <br/><br/>
  Left long enough, the skin is tough and large enough that I can lop it off with nail scissors and be left with a what I jokingly call a "Tuile". It looks like some giant rank grain of rice. It disgusts my wife.
  <br/><br/>
  My mum has to do this too. I imagine her fruitlessly, joylessly chopping and sanding her big toes every couple of months. He has my toes, so I imagine my son doing the same when he is fully grown. Decades and decades of harvest. Another useless gift to him.
  <br/><br/>
  I mentally schedule in another Tuile removal tomorrow as a I stash his effluent in a worryingly thin plastic bag. The skin on his toes are still supple, perfect, flawless.
  For now.
  <br/><br/>
  But he has my toes.

  <%= render partial: 'bit/clock' %>
</div>
