<div class="part-six">
  <div class="text-container">
    <p>I continue zipping deeper and deeper along the ever-unravelling seam, unpicking the stitches. Each one an aspect or facet handed down, thrust upon, learned, encoded, hidden. Some welcome and others not. The Bit originated somewhere in here. A thousand mouths cut and torn across millennia. It is an unbroken thread of life, ending with me.</P>

    <p>Except it doesn't end. We have created a new life, and with it stitched a new seam. The Bit is just the start. There will be other vestigial parts of my son, dead skin on more than just his toes, that I have unwittingly given him, just as they unwittingly gave these things to me.</P>

    <p>I feel myself slipping closer and closer towards sleep as I keep pulling deeper and deeper along the seam looking for clues. There must be some instruction on how to create life without bringing these parts of yourself into the thing you love the most. </P>

    <p>Suddenly, the seam ends. I come to rest at the rough form of a human face. Big thick glasses, in black and white. No discernible features, like a courtroom sketch or composite. It reminds me of a photo I saw of my great great grandfather. Or was it my great grandmother? </P>

    <p>Half-dreaming, I begin to drift in and out of consciousness. Delirious, the face now looks like Philip Larkin. </P>

    <p>Didn't he write about man handing on misery to man? One line rings out:</P>

    <p><em>"They fuck you up, your mum and dad. They may not mean to, but they do."</em></P>

    <p>His solution was to never have kids. To be fair, his father was a Nazi, but Larkin offers no answers to my problem. </P>

    <p>The disembodied face dissolves back into something half-recognisable, taunting me with the promise of an answer.</P>

    <p>I think about my son, about the seam that threads through him and ends with his own Bit, jutting out from the roof of his mouth. I'm terrified at the idea that his is sewn with every stitch of me. But... that's only half the story. He is as much his mother as he is me. She has good toes, she has a smooth roof, she has no Bit. Part of me hears them both snoring nearby and yearns to give in to sleep; we will all be awake again soon. Another part, almost reptilian, only knows one thing: I worry about him. I worry about his mouth and worry about his toes and worry about his own journeys through the liminal space and worry about everything else I'll have no choice but to give him.</P>

    <p>I worry that the act of me worrying dooms him to worry. </P>

    <p>The face coalesces into an answer. I suddenly understand. Still snagged in the liminal window, I should write this down before I fall asleep.</P>
  </div>
</div>
