<div class="part-five">
  Swirling and teeming clouds, threads arcing and dancing. I linger here. In the liminal space, what used to be the middle of the night's sleep, snagged.
  <br/><br/>
  I run my tongue along The Bit in the roof of my mouth. It's tender. Sore. When I've cut it, I can't stop poking at it with my tongue, even though I know I shouldn't.
  <br/><br/>
  Running my tongue further back, I notice that The Bit sits on a seam, like my body is stitched together at this point.
  <br/><br/>
  This seam appears behind my eyelids, crackling, like the most primitive part of me, the point at which the cells started to divide in utero.
  <br/><br/>
  I pull on the seam and it starts to unravel. I head backwards, deeper and deeper. Many of the key parts of my body sit directly on, or on either side of this seam.
  <br/><br/>
  I think back to when I found out that The Bit was actually a genetic quirk named Torus Palatinus. I asked my family if anyone else suffered with crusty breads.
  <br/><br/>
  I looked around the table at the Italian restaurant at over a dozen faces that rhymed.
  <br/><br/>
  No fewer than four generations came to the same realisation: that we shared our suffering at the hands of sharp foods. At once liberated and burdened.
  <br/><br/>
  A lucky few didn't have any idea what we were talking about.
  <br/><br/>
  My wife, for instance, has no Bit.
  <br/><br/>
  We jealously called her smoothroof and carefully bit into our pizza.
</div>
