<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800">Things.</h1>
    <p class="mb-12">Some things I've made or places I've worked.</p>
  </div>
<% end %>
