<div class="w=full mt-4 text-gray-500 text-sm">
  If you enjoyed this, you can <%= link_to 'read some more of my writing here.', writing_index_path, class: 'underline' %>
  or <%= link_to 'subscribe via RSS', writing_index_url(format: :xml), class: 'underline' %>
</div>
