<% post = local_assigns[:post] %>

<%= link_to post.path do %>
  <div class="flex flex-col rounded-md shadow-lg hover:shadow-xl transition-all bg-white p-6 mb-14">
    <h2 class="text-gray-800 font-black text-2xl mb-3"><%= post.title %></h2>
    <p class="uppercase text-sm text-gray-500 mb-4"><%= format_published_date(post.published_on) %></p>
    <p class="text-gray-800"><%= post.subtitle %></p>
  </div>
<% end %>
