<div>
  <div class="mb-10">
    <h1 class="font-black text-5xl md:text-6xl w-full"><%= @blog_post.title %></h1>
    <p class="uppercase text-gray-500 mt-1"><%= format_published_date(@blog_post.published_on) %></p>
  </div>
  <%= @markdown_content %>
</div>
