<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800">Things.</h1>
    <p class="mb-12">Some things I've made or places I've worked.</p>
    <% @projects.map do |project| %>
      <div class="mb-20">
        <%= link_to project_path(project.slug) do %>
          <h2 class="text-gray-800 font-black text-4xl hover:underline"><%= project.name %></h2>
        <% end %>
        <p class="uppercase text-gray-500 mt-1"><%= project.subtitle %></p>
      </div>
    <% end %>
  </div>
<% end %>
