/*
HELPERS
=====================*/

/* All images should be responsive */
img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* 
MOBILE 
======================*/

/* Handle flexbox styles for the various parts of the project card */
.card, .card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin-top: 2rem;
}

.icon {
  max-width: 20%;
  margin-top: 6%;
}

.summary {
  text-align: center;
  max-width: 90%;
  margin: 0;
}

/* 
DESKTOP 
=================*/

@media only screen and (min-width: 40rem) {
  .summary {
    max-width: 80%;
  }
    
  .column.solo.card {
    flex: 0 0 50%;
    max-width: 50%;
  }

}