<%= turbo_frame_tag "junk_food_#{junk_food.id}" do %>
  <div class="space-y-6">
    <p class="font-junk text-2xl md:text-3xl leading-tight"><%= question[:text] %></p>

    <div class="space-y-3">
      <% question[:options].each do |option| %>
        <%= button_to junk_food_update_path(junk_food),
              method: :patch,
              params: { question_key: question[:key], answer_key: option[:key] },
              class: "bauhaus-btn w-full px-6 py-4 bg-white text-bauhaus-black text-lg font-semibold border-3 border-bauhaus-black text-left" do %>
          <%= option[:text] %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
