<% content_for :body_content do %>
  <div class="flex flex-col justify-start text-left">
    <h1 class="font-black text-7xl mb-10 text-left text-gray-800">
      Blog.
    </h1>
    <p class="mb-12">
      I don't really have any blog posts yet... I might get around to it one day.
    </p>
  </div>
<% end%>
