* {
  font-family: 'Lato', 'Helvetica', sans-serif;
  background-color: #F7F7FF;
  color: #262626;
  text-align: center;
}

a, a > h2, a > h4 {
  transition: color 0.5s ease;
  color: #006494;
  text-decoration: underline;
}

a:hover, a:focus, a:active {
  color: #A3CEF1;
}

#main{
  margin-top: 8rem;
}

#main > div:not(#homepageContainer) {
  padding-top: 3rem;
}

#headerImage {
  max-height: 20vh;
  margin: 0;
}

.caption {
  font-size: 1.6rem;
  color: #006494;
}

.highlight {
  /* color: #3993DD; */
}


.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0;
}

p {
  font-size: 1.3em;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  color: #006494;
}

h3 {
  font-size: 2em;
  color: #006494;
}

/* 
DESKTOP 
=================*/

@media only screen and (min-width: 40rem) {
  .paragraph > p {
    width: 90%;
    max-width: 60rem;
  }
}
