:root {
    --dusk: rgb(6, 0, 61);
    --midnight: rgba(2, 0, 20, 1);
    --dawn: rgb(18, 74, 113);
    --white: #eff6ff;
}

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.bit-container {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  font-family: 'Crete Round', serif;
  font-size: 20px;
  line-height: 28px;
  overflow-y: scroll;
}

.bit-container * {
  transition: background-color 2s ease-in-out, opacity 2s ease-in-out;
}

.night-sky {
  background: linear-gradient(180deg, var(--dusk), var(--midnight));
  color: var(--white);
}

.part-one, .part-two, .part-three, .part-four, .part-five, .part-six, .part-seven {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  max-width: 640px;
}

/* Clock */

.clock-container {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.clock {
  width: 6rem;
  height: 6rem;
  border: 6px solid var(--white);
  border-radius: 50%;
  position: relative;
}

.clock-hand {
  width: 6px;
  background-color: var(--white);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  animation-timing-function: ease-in-out;
  border-radius: 5rem 5rem 5rem 5rem;
}

.hour-hand {
  height: 1.25rem;
  will-change: transform;
  transform: translateX(-50%);
}

.minute-hand {
  height: 2.3rem;
  will-change: transform;
  transform: translateX(-50%);
}

.animate-hour {
  animation: RotateHand 20s linear infinite;
}

.animate-minute {
  animation: RotateHand 10s linear infinite;
}

@keyframes RotateHand {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(20deg); }
  20% { transform: rotate(30deg); }
  30% { transform: rotate(50deg); }
  40% { transform: rotate(90deg); }
  50% { transform: rotate(120deg); }
  60% { transform: rotate(180deg); }
  80% { transform: rotate(200deg); }
  90% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

/* Aurora */

.aurora-background {
  background-color: var(--midnight);
}

.aurora {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--midnight) 20%, var(--dusk) 30%, var(--dawn) 50%, rgba(163, 0, 255, 0.8) 65%, rgba(255, 0, 191, 0.8) 75%);
  background-size: 300% 300%;
  will-change: background-color;
  opacity: 0; /* -- made visible by the JS intersection observer. */
  color: var(--white);
  padding-top: 30rem;
  padding-bottom: 20rem;
  position: relative;
  transition: all 2s ease-in-out;
}

.aurora::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem; /* Control the height of the fading effect */
  background: linear-gradient(to bottom, var(--midnight), transparent);
  z-index: 1;
}

.aurora::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem; /* Control the height of the fading effect */
  background: linear-gradient(to top, var(--midnight), transparent);
  z-index: 1;
}

.animate-aurora {
  animation: MoveGradient 4s ease-in-out infinite;
}

@media (min-width: 768px) {
  .animate-aurora {
    animation: MoveGradient 10s ease-in-out infinite;
  }
}

@keyframes MoveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Dawn sky */

.dawn-sky {
  background: var(--midnight); /* starts as solid, will fade to gradient from the JS */
  color: var(--white);
  padding-top: 5rem;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

.image {
  max-height: 15rem;
  border-radius: 36px;
  -webkit-mask-image: radial-gradient(circle at center, var(--midnight) 5%, transparent 70%);
  mask-image: radial-gradient(circle at center, var(--midnight) 5%, transparent 70%);
}
