/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .gradient {
  background: -webkit-linear-gradient(60deg, #0a405e, #059ef0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-inverted {
  background: -webkit-linear-gradient(60deg, #0a405e, #0f6491);
}

h1 {
  background: -webkit-linear-gradient(60deg, #0a405e, #1276ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0 0.5rem 0;
}
