:root {
    --dusk: rgb(6, 0, 61);
    --midnight: rgba(2, 0, 20, 1);
    --dawn: rgb(18, 74, 113);
    --white: #eff6ff;
    --notes-yellow: #d1a401;
    --notes-black: rgba(0,0,0,.88);
    --notes-white: #fafafae5;
}

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

/* Menu */

#bit-menu {
  width: 100vw;
  height: 48px;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  font-family: 'Crete Round', serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--midnight);
  display: flex;
  justify-content: center;
  opacity: 0; /* Set in the JS */
  z-index: 5;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#bit-menu a {
  text-decoration: underline;
}

#bit-menu .menu-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Containers */

.bit-container {
  height: 100vh;
  width: 100vw;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.bit-container * {
  transition: all 2s ease-in-out;
}

.bit-container p {
  margin-top: 28px;
}

.part-one, .part-two, .part-three, .part-four, .part-five, .part-six, .part-seven, .bit-footer {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part-seven {
  padding-bottom: 48px;
}

.text-container {
  max-width: 640px;
}

.hidden {
  opacity: 0;
}

/* Title screen */

.title-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-screen h1 {
  font-size: 8rem;
  line-height: 8rem;
  text-align: center;
  font-weight: 900;
}

.title-screen h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}


/* Night sky */

.night-sky {
  background: linear-gradient(180deg, var(--dusk), var(--midnight));
  color: var(--white);
}


/* Clock */

.clock-container {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.clock {
  width: 6rem;
  height: 6rem;
  border: 6px solid var(--white);
  border-radius: 50%;
  position: relative;
}

.clock-hand {
  width: 6px;
  background-color: var(--white);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  animation-timing-function: ease-in-out;
  border-radius: 5rem 5rem 5rem 5rem;
}

.hour-hand {
  height: 1.25rem;
  will-change: transform;
  transform: translateX(-50%);
  animation: RotateHand 20s linear infinite;
}

.minute-hand {
  height: 2.3rem;
  will-change: transform;
  transform: translateX(-50%);
  animation: RotateHand 10s linear infinite;
}

@keyframes RotateHand {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(20deg); }
  20% { transform: rotate(30deg); }
  30% { transform: rotate(50deg); }
  40% { transform: rotate(90deg); }
  50% { transform: rotate(120deg); }
  60% { transform: rotate(180deg); }
  80% { transform: rotate(200deg); }
  90% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

/* Aurora */

.aurora-background {
  background-color: var(--midnight);
}

.aurora {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--midnight) 20%, var(--dusk) 30%, var(--dawn) 50%, rgba(163, 0, 255, 0.8) 65%, rgba(255, 0, 191, 0.8) 75%);
  background-size: 300% 300%;
  will-change: background-color;
  color: var(--white);
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}

.aurora::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem; /* Control the height of the fading effect */
  background: linear-gradient(to bottom, var(--midnight), transparent);
  z-index: 1;
}

.aurora::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem; /* Control the height of the fading effect */
  background: linear-gradient(to top, var(--midnight), transparent);
  z-index: 1;
}

.animate-aurora {
  animation: MoveGradient 4s ease-in-out infinite;
}

@media (min-width: 768px) {
  .animate-aurora {
    animation: MoveGradient 10s ease-in-out infinite;
  }
}

@keyframes MoveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Notes */

.notes-app {
  margin: 32px 0;
  background-color: var(--notes-white);
  color: var(--notes-black);
  border-radius: 12px;
  font-family: system-ui;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.notes-headline {
  border-radius: 12px 12px 0 0;
  background-color: var(--notes-yellow);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  height: 36px;
  width: 100%;
}

.notes-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.notes-item {
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  text-decoration-color: rgba(0,0,0,.15);
  text-decoration-style: dotted;
	text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  margin-bottom: 12px;
}

/* Dawn sky */

.dawn-sky {
  background: var(--midnight); /* starts as solid, will fade to gradient from the JS */
  color: var(--white);
  padding-top: 5rem;
}

/* Images */

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

.image {
  max-height: 15rem;
  border-radius: 36px;
  -webkit-mask-image: radial-gradient(circle at center, var(--midnight) 5%, transparent 70%);
  mask-image: radial-gradient(circle at center, var(--midnight) 5%, transparent 70%);
}

/* End screen */

.the-end-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.the-end {
  width: 20%;
  height: 2px;
  background-color: var(--white)
}

.bit-footer {
  padding: 3rem;
  font-size: 1rem;
}

.bit-footer a {
  text-decoration: underline;
}
