<div class="part-container part-one">
  <div class="text-container">
    <p>A blazing white heat drags me out of my sleep and I wake up with a ferocity unimaginable three weeks ago. This only happens when my son is crying.</p>

    <p>It's 10:30pm. I've been asleep for just over an hour.</p>

    <p>Stood now, holding him, swaying slowly, eyes drooping as his cries wash over me. His unhappiness is my unhappiness. My only reply is a long shush, a constant white noise failing to soothe either of us into sleep. </p>

    <p>In almost two weeks we've exhausted the usual he's-got-yours: her eyes, my chin, her jaw, my hair. Looking down into his little maw, screaming up at me, I recognise something more unusual. There, behind where his front teeth will eventually be. Unfortunately, I recognise "The Bit."</p>

    <p>Ever since I can remember, I've cut, sliced and burnt a specific part of the roof of my mouth on innocuous things - crusty breads, pizzas, crisps. I call this "The Bit". </p>

    <p>How best to describe The Bit? Run your tongue over the roof of your mouth behind your front teeth. Slap bang in the middle, where the two halves of your body meet, there might be a small bump. A fleshy stalactite. Completely, utterly pointless. No evolutionary purpose other than to punish you for eating anything hard. </p>

    <p>When I eat something that is too sharp - and some bread counts as too sharp - I will invariably cut this specific Bit of my mouth. As soon as I've irritated it, I spend the next 48 hours with the compulsion to prod at it. It's a low-level, almost constant annoyance - traffic noise for my mouth.</p>

    <p>Soothing him with a bottle I automatically run my tongue over the roof of my mouth. The Bit is sore and tender after a rogue tortilla chip yesterday. Invisible to everyone, only you know if you have it. But I do, and I can see that my son does too.</p>

    <p>Stick with nipples and teats, I think, as he drifts toward sleep, they won't cut or burn The Bit. Enjoy this. As soon you encounter solid food you're in for it.</p>
    <%= render partial: 'the_bit/clock' %>
  </div>
 </div>
