<div class="part-container part-seven">
  <div class="text-container">
    <p>My son cries out, a blazing white heat drags me out of my sleep and I wake up with a ferocity unimaginable three weeks ago.</p>

    <p>Silence. </p>

    <p>Lying there frozen, I listen, waiting for him to make another noise.</p>

    <p>It must be nearly morning. The boiler has sprung into life and the pipes in the radiator have started singing. I'm struck with the feeling that I've forgotten something. I grab my phone to check the time. The Notes app is open. Bafflingly, a prayer is written there. I've never said a prayer in my life. I decide to mutter it, just in case. </p>

    <div class="notes-app">
      <div class="notes-headline"></div>
      <div class="notes-content">
        <span class="notes-item">May the Lord have mercy on my son in his encounters with crusty breads.</span>
      </div>
    </div>

    <p>It's timestamped 3:48am. I assume this made a lot of sense to me snagged inside that liminal window half asleep. But then, these ideas always seem to disappear on their own. They may not mean to, but they do.</p>

    <p>Right now, at 5:56am, sadly, I have no fucking idea what the prayer means. </p>

    <p>I hear him stir and get up to see if he is nearly awake. As I walk over to his crib, my tongue reaches into the roof of my mouth. The Bit feels better this morning. To my surprise his eyes glisten up from his crib. He's awake, and peaceful. For the first time in his life, he smiles at me. It's neither my smile, nor my wife's. It's all his own.</p>

    <div class="the-end-container">
      <div class="the-end"></div>
    </div>
  </div>
</div>
